* {
	margin: 0;
	padding: 0;
}
body {
	background-color: aliceblue;
	font-family: 'Lato', sans-serif;
}
h2 {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 25px;
}
h3 {
    margin-bottom: 20px;
}
/*Header*/
header {
    background-image:  url(../images/img-header.jpg);
}
.Header_Gallery {
    background-image: url(../images/NINTCHDBPICT000582594623-8.jpg);
}
header, .Header_Gallery {
    width: 100%;
    height: 800px;
}
header > img, .Header_Gallery >img {
    width: 12%;
    margin-left: 10px;
    padding: 0.5%;
    float: left;
    position:fixed;
    z-index:2;
}
header > h1, .Header_Gallery > h1{
    color: white;
    font-size: 60px;
    padding-top: 25%;
    text-align: center;
}
nav {
    background-color: rgba(248, 242, 233, 0.88);
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    height: 70px;
    z-index: 1;

}
nav > div {
    padding: 0 1% 0 5.5%;
    display: flex;
}
.txt-nav {
    margin-left: 25%;
    margin-top: 0.4%;
}

.txt-nav > a {
    font-size: 20px;	
    margin: 3%;
    padding: 1.4% 1% 4% 1%;
    text-decoration: none;
    color: black;
    width: 100%;
}
.txt-nav > a:hover {
  color:#A52A2A;
  border-radius: 5px;
}
.ico-nav {
    margin-top: 1%;
    display: flex;
}
.ico-nav a img {   
    padding: 11px;
    height: 20px;
}

/*página de Galeria*/
.main-galeria {
    background-color: rgb(255, 255, 255);
}
.main-galeria > h1 {
 padding:5% 0 0 6% ;
}
.cont-evento  {
    margin-top: 3%;
    padding: 0 12% 2% 11%;
    height: auto;
}
.cont-evento > div {
    border-style: solid;
    border-width: 1px;
    border-radius:15px;
    background-color:#e8e8e8;
    padding: 0 1% 1% 1%;
}
.txt-cont-evento {
    display: flex;
    justify-content: space-between;
}
.cont-evento select, .cont-evento h2 {
    padding: 0.5% 0.7% 0.5% 0.7% ;
    margin: 1%;
}
.cont-evento select  {
    width: auto;
    height: auto;
    border-radius: 10px ;
    background-color:#fffefd;
    padding: 0 1%;
    font-size:20px;
}
.tour-cont-evento {
    display: flex;
    flex-flow: nowrap;
    width: auto;
    overflow-x: scroll;

}
input#search {
    width: 300px;
}
input.letratamaño {
    border: 1px solid;
    margin-left: 10px;
}
.tour-cont-evento div {
    margin: 0 1% 1% 1%;
    border-radius: 10px;
    width: auto;
    background-color:#ffffff;
    padding:0.5%
}
.tour-cont-evento img {
    width: 230px;
    height: 150px;
    margin:5px;
}
.tour-cont-evento li {
    margin-top: 1%;
    margin-left: 5%;
    margin-bottom: 1%;
}
.cont-video-music {
    display: flex;
    padding: 1% 5% 2% 7%;
}
.txt-cont-video {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    width: 30%;
    height: 400px;
    display: flex;
    flex-flow: column;
    overflow-y: scroll;
    background-color: bisque;
}
.txt-cont-video > div {
    display: flex;
    margin: 2% 3% 2% 3%;
    height: 16.5%;
    background-color:#ffffff;
    border-radius:10px;
}
.txt-cont-video a,.txt-cont-video img {
    width: 35%;
    height: 80%;
    margin: 2% 0 0 2%;
    border-radius:15px;
}
.vid-cont-video {
    width: 65%;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
}
.des-cont-video {
    height: 50px;
    padding: 0px;
    margin: 2.5% 0 0 1%;
    margin-left: 25px;
    text-align: left;
}
.des-cont-video h3 {
    margin-bottom: 0px;
    font-size: 98%;
}
.des-cont-video a {
    text-decoration: none;
    color: black;
}
.des-cont-video a:hover {
    color: blueviolet;
}
.des-cont-video span {
    font-size:14px;
}
/*página de artista*/
.slider {
    max-width: 1000px;
    margin: 0 auto;
  }
  .slick-slide {
    margin: 0 5px;
  }
  .slick-list {
    margin: 0px -5px 0px -5px;
  }
  button.slick-next, button.slick-next:hover {
    position: absolute;
    top: 41%;
    right: -55px;
    width: 47px;
    height: 75px;
    background-image: url("http://maggiesadler.com/wp-content/uploads/2015/10/left-right-arrow.png");
    background-size: 95px;
  }
  button.slick-prev, button.slick-prev:hover {
    position: absolute;
    top: 41%;
    left: -55px;
    z-index: 1;
    width: 47px;
    height: 75px;
    background-image: url("http://maggiesadler.com/wp-content/uploads/2015/10/left-right-arrow.png");
    background-size: 95px;
        background-position-x: right;
  }
  .slick-prev:before, .slick-next:before {
    font-size: 70px;
    color: #EA8496;
    line-height: inherit;
    font-weight: bold;
  }
  .slider img {
    height: 324px;
  }
  
  /* Slick Slider Styles -- Provided by https://kenwheeler.github.io/slick/ */
  /* Slider */
  .slick-slider
  {
      position: relative;
  
      display: block;
  
      -moz-box-sizing: border-box;
           box-sizing: border-box;
  
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -ms-touch-action: pan-y;
          touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list
  {
      position: relative;
  
      display: block;
      overflow: hidden;
  
      margin: 0;
      padding: 0;
  }
  .slick-list:focus
  {
      outline: none;
  }
  .slick-list.dragging
  {
      cursor: pointer;
      cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
      -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
           -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }
  
  .slick-track
  {
      position: relative;
      top: 0;
      left: 0;
  
      display: block;
  }
  .slick-track:before,
  .slick-track:after
  {
      display: table;
  
      content: '';
  }
  .slick-track:after {
      clear: both;
  }
  .slick-loading .slick-track
  {
      visibility: hidden;
  }
  
  .slick-slide
  {
      display: none;
      float: left;
  
      height: 100%;
      min-height: 1px;
  }
  [dir='rtl'] .slick-slide
  {
      float: right;
  }
  .slick-slide img
  {
      display: block;
      width: 100%;
  }
  .slick-slide.slick-loading img
  {
      display: none;
  }
  .slick-slide.dragging img
  {
      pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
      display: block;
  }
  .slick-loading .slick-slide
  {
      visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
      display: block;
  
      height: auto;
  
      border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
      display: none;
  }
  
  /* Arrows */
  .slick-prev,
  .slick-next
  {
      font-size: 0;
      line-height: 0;
  
      position: absolute;
      top: 50%;
  
      display: block;
  
      width: 20px;
      height: 20px;
      margin-top: -10px;
      padding: 0;
  
      cursor: pointer;
  
      color: transparent;
      border: none;
      outline: none;
      background: transparent;
  }
  .slick-prev:hover,
  .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus
  {
      color: transparent;
      outline: none;
      background: transparent;
  }
  .slick-prev:hover:before,
  .slick-prev:focus:before,
  .slick-next:hover:before,
  .slick-next:focus:before
  {
      opacity: 1;
  }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before
  {
      opacity: .25;
  }
  
  .slick-prev:before,
  .slick-next:before
  {
      font-family: 'slick';
      font-size: 20px;
      line-height: 1;
  
      opacity: .75;
      color: white;
  
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  
  .slick-prev
  {
      left: -25px;
  }
  [dir='rtl'] .slick-prev
  {
      right: -25px;
      left: auto;
  }
  .slick-prev:before
  {
      content: '';
  }
  [dir='rtl'] .slick-prev:before
  {
      content: '';
      font-weight: bold;
      font-size: 20px;
  }
  
  .slick-next
  {
      right: -25px;
  }
  [dir='rtl'] .slick-next
  {
      right: auto;
      left: -25px;
  }
  .slick-next:before
  {
      content: '';
  }
  [dir='rtl'] .slick-next:before
  {
      content: '';
  }
  
  /* Dots */
  .slick-slider
  {
      margin-bottom: 30px;
  }
  
  .slick-dots
  {
      position: absolute;
      bottom: -45px;
  
      display: block;
  
      width: 100%;
      padding: 0;
  
      list-style: none;
  
      text-align: center;
  }
  .slick-dots li
  {
      position: relative;
  
      display: inline-block;
  
      width: 20px;
      height: 20px;
      margin: 0 5px;
      padding: 0;
  
      cursor: pointer;
  }
  .slick-dots li button
  {
      font-size: 0;
      line-height: 0;
  
      display: block;
  
      width: 20px;
      height: 20px;
      padding: 5px;
  
      cursor: pointer;
  
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
  }
  .slick-dots li button:hover,
  .slick-dots li button:focus
  {
      outline: none;
  }
  .slick-dots li button:hover:before,
  .slick-dots li button:focus:before
  {
      opacity: 1;
  }
  .slick-dots li button:before
  {
      font-family: 'slick';
      font-size: 6px;
      line-height: 20px;
  
      position: absolute;
      top: 0;
      left: 0;
  
      width: 20px;
      height: 20px;
  
      content: '•';
      text-align: center;
  
      opacity: .25;
      color: black;
  
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  .slick-dots li.slick-active button:before
  {
      opacity: .75;
      color: black;
  }
  

  .biografia >h3, .premios > h3 {
      text-transform: uppercase;
      font-weight: 300;
      text-decoration: underline;
      margin-bottom: 20px;
  }
  .datos-curiosos {
      padding: 5% 10%;
      background-color: #d4c4c4;
  }
  
  .biografia {
      padding: 5% 10%;
  }
  .biografia ul {
      display: flex;
      justify-content: center;
      align-items: center;
          list-style: none;
  }
  
  .biografia ul li img {
      width: 500px;
      margin-right: 50px;
  }
  .premios {
      padding: 5% 10%;
  }
  .premios ul {
      display: flex;
      justify-content: center;
      align-items: center;
          list-style: none;
  }
  
  .premios ul li img {
      width: 300px;
      margin-right: 50px;
  }

 /*página de música*/
  .main-musica {
    display: flex;
    width: 100%;
    height: 2260px;
}
.album {
    height: 400px;
    width: auto;
    position: relative;
    left: 22%;
    top: 4%;
    border-radius: 15px;
}
h2 {
    position: relative;
    font-size: 25px;
    top: 4%;
    right: 20px;
}
ol {
    margin-top: 8%;
    position: relative;
    right: 320px;
    white-space: pre-line;
    list-style-position:inside;
}
.box {
    position: relative;
    top: 23%;
    right: 6%;
    width: 28%;
    height: 7%;
    text-align: justify;
    overflow: hidden;
}
.linea {
    position: absolute;
    top: 1500px;
    right: 22%;
    height: 1px;
    width: 810px;
    background-color: black;
}
.Tendencia {
    display: flex;
    position: absolute;
    top: 1600px;
    width: 80%;
    height: 700px;
    margin-left: 10%;
    margin-right: 10%;
    overflow: hidden;
        
}
.Tendencia >h3 {
    position: absolute;
    left: 43%;
    font-size: 25px;
}
.video {
    position: absolute;
    left: 25%;
    top: 15%;
    overflow: hidden;
    width: 50%;
    height: 43%;
}
iframe {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
h4 {
    position: absolute;
    top: 69.1%;
    font-size: 27px;
    left: 33.5%;
    font-style: italic;
}
.video1 {
    position: absolute;
    left: 1%;
    top: 24.4%;
    overflow: hidden;
    width: 23.8%;
    height: 25%;
}
.video2 {
    position: absolute;
    left: 75.2%;
    top: 24.4%;
    overflow: hidden;
    width: 23.8%;
    height: 25%;
}
.linea-a {
    position: absolute;
    top: 85%;
    right: 15%;
    height: 1px;
    width: 810px;
    background-color: black;
}
h5 {
    position: absolute;
    left: 15%;
    top: 2300px;
    font-size: 27px;
}
.colab img {
    position: absolute;
    top: 2750px;
    left: 53%;
    border-radius: 15px;
}
.colab1 img {
    position: absolute;
    top: 2420px;
    left: 53%;
    border-radius: 15px;
}
.colab2 img {
    position: absolute;
    top: 2420px;
    left: 11%;
    border-radius: 15px;
}
.colab3 img {
    position: absolute;
    top: 2750px;
    left: 11%;
    border-radius: 15px;
}
.box1 {
     position: absolute;
    top: 2450px;
    left: 34%;
    width: 15%;
}
.box2 {
     position: absolute;
    top: 2790px;
    left: 34%;
    width: 15%;
}
.box3 {
     position: absolute;
    top: 2450px;
    left: 76%;
    width: 15%;
}

.box4 {
     position: absolute;
    top: 2790px;
    left: 76%;
    width: 15%;
}
h6 {
    font-size: 15px;
    margin-bottom: 12px;
    text-align: left;
}
/*Página de Tour*/
.main-tour {
    background-color:rgb(253, 240, 224);
}
.main-tour > h1 {
 padding:3% 0 1% 6% ;
}
.inf-tour {
    display: flex;
}
.inf-tour > div {
    margin-right: 45px;
}
.div-txt-inf-tour {
    width: 75%;
}
.div-txt-inf-tour >div {
    margin: 1% 3% 1% 8%;
}
.txt-inf-tour {
    display: flex;
    padding: 2% 5% 2% 10%; 
    background-color:rgb(204, 203, 202);
    border-radius: 10px;
    

}

.txt-inf-tour > img {
    width: 20%;

}
.txt-inf-tour > h2 {
    font-size: 25px;
    margin-top: 2%;
    margin-left: 4%;
}
.txt-inf-tour > a {
    text-decoration: none;
    color: brown;
    font-size: 25px;
    margin-top: 2%;
}
.txt-inf-tour > a:hover {
    color: #0fcaca;
    text-decoration: solid;
}
.div-bottom-inf-tour {
    width: 30%;
}

.bottom-inf-tour-top, .bottom-inf-tour-center, .bottom-inf-tour-bottom {
    display: flex;
    width: 90%;
    height: 15%;
    border-radius: 10px;
    padding: 5%;
    margin:0px
}
.bottom-inf-tour-top {
    margin: 3% 5% 0 10%;
}
.bottom-inf-tour-center {
    margin: 10% 5% 0 10%;
}
.bottom-inf-tour-bottom {
        margin: 10% 5% 0 10%;
}
.bottom-inf-tour-top > a , .bottom-inf-tour-center > a , .bottom-inf-tour-bottom > a {
    color: #ffffff;
    background-color: brown;
    padding: 3% 4% 3% 4%;
    margin: 5% 3% 0 1%;
    height: 25%;
    text-decoration: none;
    border-radius: 5px;
}
.bottom-inf-tour-top > a:hover, .bottom-inf-tour-center > a:hover , .bottom-inf-tour-bottom > a:hover {
    background-color: rgb(211, 128, 128);
}
.txt-buscar {
    padding: 2% 20% 1% 10%;
    width: 40%;
    
}
.txt-buscar > h2 {
    padding-bottom: 0px;
    
}
.txt-buscar > input {
    overflow: hidden;
    width: 350px;
    vertical-align: middle;
    white-space: nowrap;
}
.cont-map {
    display: flex;
}
.img-cont-map {
    padding:2% 0 0 12%
}
.txt-cont-map {
    padding:12% 0 0 5%;
    font-size: 30px;
}

.main-tour button {
    padding: 1.5% 3.4%;
    margin: 0% 0;
    background: brown;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
}
.main-tour button:hover {
    background: grey;
}
.main-tour input {
    padding: 1%;
    margin: 1% 0;
    border: 4px solid brown;
    border-radius: 15px;
}

/* == FORMULARIO == */
.section_form {
    display: flex;
}
.section_form >img {
    width: 750px;
    height: 500px;
    padding: 50px;
}
form {
  width: 30%;
  height: auto;
  background: rgb(253, 240, 224);
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 4% 2% 2% 2%;
  border-radius: 25px;
  border-width: 5px;
  margin-left: 0px;
}
fieldset {
  padding: 0.1% 1%;
  margin: 15px 3%;
  border: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.izquierda {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
legend {
  padding: 100px 10px;
  padding-bottom: 8px;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}
input {
  width: 85%;
  padding: 1.5% 3.4%;
  margin: 1.5% 0;
  border-right: none;
  border-radius: 5px;

}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus  {
  background: white;
}
input[type=radio], input[type=checkbox] {
  float: left;
  width: auto;
  margin: 2% 0;
}
.right-input {
  float: left;
  width: auto;
  margin: 1.5% 4% 1.5% 1.5%;
  font-weight: bold;
}
label {
  width: 100%;
}
select {
  margin: 2% 0;
  padding: 0.5%;
}
textarea {
  width: 98%;
  padding: 1%;
  margin: 1% 0;
  resize: none;
}
textarea:focus {
  background: yellow;
}
textarea[placeholder] {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
button {
  padding: 13.5% 15.5%;
  margin: 11% -4px;
  background: brown;
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background: grey;
}
/*footer*/
.footer-music {
    margin-top:40px;
  }
  footer,.footer-music {
      background-color: rgba(90, 89, 88, 0.438);
      width: 100%;
      display: flex;
      height:30px;
      justify-content: space-between;
      padding:1% 0 0 0;
  }
  footer > div {
      display: flex;
  }
  .txt-footer > a {
      font-size: 80%;
      width:100%;
      padding-top: 0.5%;
      padding-left: 10%;
      white-space: nowrap;
  }
  .txt-footer > a:hover {
  color: rgb(102, 105, 104);
  text-decoration: underline;
  }
  .ico-footer > a > img {
      padding: 0 10px 0 10px;
      height: 50%;
  }